<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.max.mediaselector">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".MediaSelectorListActivity"
            android:exported="true"
            android:theme="@style/Theme.MediaSelectorActivity" />

        <activity
            android:name=".MediaSelectorPreviewActivity"
            android:exported="true"
            android:theme="@style/Theme.MediaPreviewActivity" />
    </application>

</manifest>